<!Create an express server that serves an HTML file that contains the title "Review Exercises 
from Week", an inspiring image
that reflects how you feel about class, 
and an ordered list of all the exercises -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Review Exercises from Week</title>
</head>
<body>
  <ol>
    <li>Write and export a javascript function that counts the number of odd numbers: countOddNumbers given an array of integers</li>
    <li>Write and export a javascript function that returns only the even numbers: onlyEvenNumbers given an array of integers</li>
    <li>Write and export a javascript function that returns only the consonants in a string: onlyConsonants</li>
    <li>Create an express server that serves an HTML file that contains the title "Review Exercises from Week", an inspiring image that reflects how you feel about class, and an ordered list of all the exercises</li>
  </ol>
  <img src=https://i.pinimg.com/736x/21/8e/f7/218ef70b19a4b4dd269c6ca6c90b2b35--funny-cat-pictures-random-pictures.jpg alt="group hug cats pic">

        
</body>
</html>

<!Use TDD with test scripts for each of the following exercises that will all get run with "npm test":

Write and export a javascript function that counts the number of odd numbers: countOddNumbers given an array of integers

Write and export a javascript function that returns only the even numbers: onlyEvenNumbers given an array of integers

Write and export a javascript function that returns only the consonants in a string: onlyConsonants

//No mocha test script needed for the following exercise (but do test it!!!)
Create an express server that serves an HTML file that contains the title "Review Exercises from Week", an inspiring image
that reflects how you feel about class, and an ordered list of all the exercises.-->